.error {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  width: 100%;
  align-items: center;
}

.errorTitle {
  font-weight: 400;
  font-size: 140px;
  line-height: calc(169 / 140);
  margin: 0;
}

.errorMessage {
  padding-bottom: 184px;
}

.errorButton {
  background-color: transparent;
  color: rgba(66, 133, 244, 1);
  border: none;
  cursor: pointer;
}
