.tableHead {
  background: #474955;
  color: white;
  height: 54px;
}

.tableHeadColumn {
  border: none;
  vertical-align: middle;
  max-width: 530px;
}

.tableHeadColumn:last-child {
  max-width: 432px;
}

.tableHeadButton {
  position: relative;
  border: none;
  color: white;
  background-color: transparent;
  padding-right: 40px;
  margin-left: 10%;
  transition: opacity 0.6s;
}

.tableHeadButton:hover {
  opacity: 0.8;
}

.tableHeadButton:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 6px;
  right: 0;
  background-image: url(../../images/arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(0, -50%);
}

.tableHeadButtonActive:after {
  transform: translate(0, -50%) rotate(180deg);
}

.tableHeadButton_active {
  transform: rotate(180deg);
}
