.tableBodyColumn:first-child {
  text-align: center;
  max-width: 110px;
  width: calc((110 / 1080) * 100%);
}

.tableBodyColumn {
  align-self: center;
  vertical-align: middle;
  height: 52px;
  border: 1px solid #e3e6ec;
  padding: 11px;
  box-sizing: border-box;
}

.tableBodyColumn {
  width: calc((440 / 1080) * 100%);
  max-width: 440px;
}

.tableBodyColumn:nth-child(2) {
  width: calc((530 / 1080) * 100%);
  max-width: 530px;
}
