.tableBodyColumn:first-child {
  text-align: center;
  width: 110px;
}

.tableBodyColumn {
  align-self: center;
  vertical-align: middle;
  height: 52px;
  border: 1px solid #e3e6ec;
  box-sizing: border-box;
}

.tableBodyColumn {
  max-width: 440px;
}

.tableBodyColumn:nth-child(2) {
  max-width: 530px;
}
